<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="style.module.css">
  <link rel="shortcut icon" href="/img/Logo Hamburguesa Comida Rápida Simple Negro.png">
  <title>MixFood</title>
</head>

<body>
  <div id="app">
    <!-- NavBar   -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <h2 class="font-pet">MixFood&nbsp;</h2>
        <div class="collapse navbar-collapse col-8" id="navbarSupportedContent">
          <ul class="navbar-nav me-3">
            <li class="nav-item">
              <a class="nav-link active d-flex align-items-center" aria-current="page" href=""><i
                  class="fa-solid fa-home"></i>&nbsp;Inicio</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-2">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center me-2" href="../Form/index.html">
                <i class="fa-solid fa-check"></i></i>&nbsp;Login
              </a>
            </li>
            <li class="nav-item" v-if="client[0].admin">
              <a class="nav-link d-flex align-items-center me-2" href="../Table/index.html">
                <box-icon name='cart-alt' color='#ffffff' ></box-icon>&nbsp;Carrito
              </a>
            </li>
          </ul>
        </div>
        <div class="col-2">
          <a class="nav-link d-flex flex-row-reverse" style="color:white;" href="#!">&nbsp;</a>
        </div>
        <div class= "col" style="margin-right: 20px;">
          <img class="rounded-circle" height="40" src="/img/Logo Hamburguesa Comida Rápida Simple Negro.png" loading="lazy"/>
      </div>
        <div class="col">
          <a class="btn text-white" style="background-color: #c61118;" @click="logout">
            <i class="fa-solid fa-right-from-bracket" style="font-size: 20px;"></i>
          </a>
        </div>
      </div>
    </nav>
    <!-- NavBar   -->
    <!-- Carousel -->
    <div class=" d-flex justify-content-center mb-3">
      <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="img-container principal">
              <img src="/img/vista-frontal-hamburguesas-stand.jpg" class="d-block w-100" alt="img1" />
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="font-slider">Hamburguesas</h5>
              <p>Encuentra los mejores precios en Mix Food.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="img-container">
              <img src="/img/vista-lateral-salchicha-parrilla-hot-dog-ketchup-queso-cebolla-caramelizada-papas-fritas-mesa.jpg" class="d-block w-100" alt="img2" />
            </div>
          </div>
          <div class="carousel-item">
            <div class="img-container" style="margin-top: -150px;">
              <img src="../assets/img/max3.jpeg" class="d-block w-100" alt="img3" />
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
          data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
          data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Carousel -->
    <div class="mb-3">
      <h1 class="font-pet text-center">Mascotas</h1>
    </div>
    <!-- Cards -->
    <div class="container ">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" v-for="(c, index) in arrayPets">
          <div class="col" :id="index">
            <div class="card">
              <img :src="c.img" class="card-img-top" :alt="c.name" />
              <div class="card-body">
                <h2 class="font-card text-center">{{c.name}}</h5>
                  <div class="row">
                    <p class="card-text col"><b>Raza:</b> {{c.breed}}</p>
                    <p class="card-text col"><b>Especie:</b> {{c.specie}}</p>
                  </div>
                  <div class="row">
                    <p class="card-text col"><b>Género:</b> {{c.gender}}</p>
                    <p class="card-text col"><b>Color:</b> {{c.color}}</p>
                  </div>
                  <div class="row">
                    <p class="card-text col"><b>Edad:</b> {{c.age}}</p>
                  </div>
                  <p class="card-text"><b>Descripción:</b> {{c.description}}</p>
                  <div class="col">
                    <button type="button" class="btn btn-primary btn-block mb-3 col-12"
                      @click="adopt(index)">Adoptar</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cards -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>