<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="../../Utils/images/favicon.png" type="" />

    <title>MixFood</title>

    <!-- Vue-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../Utils/css/bootstrap.css"
    />

    <!--owl slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <!-- nice select  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
      integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
      crossorigin="anonymous"
    />
    <!-- font awesome style -->
    <link href="../../Utils/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../../Utils/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../style.module.css" />
    <!-- responsive style -->
    <link href="../../Utils/css/responsive.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/a919ab84a5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="sub_page">
    <div id="menu">
      <div class="hero_area">
        <div class="bg-box">
          <img src="../../Utils/images/hero-bg.jpg" alt="" />
        </div>
        <!-- header section strats -->
        <header class="header_section">
          <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="../../index.html">
                <span> MixFood </span>
              </a>

              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class=""> </span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Inicio </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#"
                      >Menu <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../About/index.html">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../Book/index.html">Reservar</a>
                  </li>
                </ul>
                <div class="user_option">
                  <a href="../Login/index.html" class="user_link">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                  <a
                    href="Pages/Admin/index.html"
                    class="user_link"
                    v-show="user"
                  >
                    <i class="fa-solid fa-lock"></i>
                  </a>
                  <a
                    href="Pages/Chef/index.html"
                    class="user_link"
                    v-show="user"
                  >
                    <img
                      src="Utils/images/chef.png"
                      class="fa mb-lg-1"
                      alt=""
                      width="18"
                    />
                  </a>
                  <div data-mdb-toggle="tooltip" :title="getCartItems">
                    <a
                      class="cart_link"
                      data-toggle="modal"
                      data-target="#modal_aside_right"
                      data-mdb-toggle="tooltip"
                      :title="getCartItems"
                    >
                      <svg
                        version="1.1"
                        id="Capa_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="0 0 456.029 456.029"
                        style="enable-background: new 0 0 456.029 456.029"
                        xml:space="preserve"
                      >
                        <g>
                          <g>
                            <path
                              d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                            />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path
                              d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z"
                            />
                          </g>
                        </g>
                        <g>
                          <g>
                            <path
                              d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                            />
                          </g>
                        </g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg>
                    </a>

                    <div
                      id="modal_aside_right"
                      class="h-100 gradient-custom modal fixed-right fade"
                      tabindex="-1"
                      role="dialog"
                    >
                      <div
                        class="w-100 py-5 modal-dialog modal-dialog-aside mx-xl-auto"
                        role="document"
                      >
                        <div class="modal-content" style="border-radius: 16px">
                          <div class="row d-flex justify-content-center my-4">
                            <div class="col-md-8">
                              <div class="card mb-4">
                                <div class="card-header py-3 w">
                                  <h5 class="mb-0">
                                    Carrito {{getCartItems }} Items
                                  </h5>
                                </div>
                                <div class="card-body">
                                  <!-- Single item -->

                                  <div
                                    class="card rounded-3 mb-4"
                                    v-for="(ca, index) in cart"
                                    :key="ca.id"
                                  >
                                    <div class="card-body p-4">
                                      <div
                                        class="row d-flex justify-content-between align-items-center"
                                      >
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                          <img
                                            :src="ca.img"
                                            class="img-fluid rounded-3"
                                            alt="Cotton T-shirt"
                                          />
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                          <p class="lead fw-normal mb-2">
                                            {{ ca.name }}
                                          </p>
                                          <p>{{ ca.descriptionSm}}</p>
                                        </div>
                                        <div
                                          class="col-md-3 col-xl-3 col-xl-2 d-flex"
                                        >
                                          <button
                                            class="btn btn-link px-2"
                                            @click="cantDecrement(ca.id)"
                                          >
                                            <i class="fas fa-minus"></i>
                                          </button>

                                          <input
                                            :value="ca.cant"
                                            id="form1"
                                            min="0"
                                            name="quantity"
                                            type="number"
                                            class="form-control text-center"
                                          />

                                          <button
                                            class="btn btn-link px-2"
                                            @click="cantIncrement(ca.id)"
                                          >
                                            <i class="fas fa-plus"></i>
                                          </button>
                                        </div>
                                        <div
                                          class="col-md-3 col-lg-2 col-xl-2 offset-lg-1"
                                        >
                                          <h5 class="mb-0">{{ ca.VU }} COP</h5>
                                        </div>
                                        <div
                                          class="col-md-1 col-lg-1 col-xl-1 text-end"
                                        >
                                          <a
                                            class="text-danger"
                                            @click="deleteCartProduct(ca.id)"
                                            ><i class="fas fa-trash fa-lg"></i
                                          ></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Single item -->

                                  <hr class="my-4" />

                                  <!-- Single item -->
                                </div>
                              </div>
                              <div class="card mb-4">
                                <div class="card-body">
                                  <p>
                                    <strong
                                      >Tiempo estimado para que recibas tu
                                      pedido</strong
                                    >
                                  </p>
                                  <p class="mb-0">30 Min</p>
                                </div>
                              </div>
                              <div class="card mb-4 mb-lg-0">
                                <div class="card-body">
                                  <p><strong>Aceptamos</strong></p>
                                  <img
                                    class="me-2"
                                    width="60"
                                    src="https://w7.pngwing.com/pngs/400/28/png-transparent-credit-card-computer-icons-visa-electron-bank-curio-blue-text-rectangle.png"
                                    alt="Visa"
                                  />
                                  <img
                                    class="me-2"
                                    width="60"
                                    src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                                    alt="American Express"
                                  />
                                  <img
                                    class="me-2"
                                    width="60"
                                    src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                                    alt="Mastercard"
                                  />
                                  <img
                                    class="me-2"
                                    width="60"
                                    src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c530.png"
                                    alt="PayPal acceptance mark"
                                  />
                                  <img
                                    class="me-2"
                                    width="60"
                                    src="https://cdn.worldvectorlogo.com/logos/nequi-2.svg"
                                    alt="Nequi"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="card mb-4">
                                <div class="card-header py-3">
                                  <h5 class="mb-0">Resumen</h5>
                                </div>
                                <div class="card-body">
                                  <ul class="list-group list-group-flush">
                                    <li
                                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
                                    >
                                      Productos
                                      <span>$53.98</span>
                                    </li>
                                    <li
                                      class="list-group-item d-flex justify-content-between align-items-center px-0"
                                    >
                                      Envio
                                      <span>Gratis</span>
                                    </li>
                                    <li
                                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                                    >
                                      <div>
                                        <strong>Total</strong>
                                        <strong>
                                          <p class="mb-0">(incluido IVA 19%)</p>
                                        </strong>
                                      </div>
                                      <span><strong>$53.98</strong></span>
                                    </li>
                                  </ul>

                                  <button
                                    type="button"
                                    class="btn btn-secondary btn-lg btn-block"
                                  >
                                    Ordenar
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- modal.// -->

                  <!--  <form class="form-inline">
                    <button
                      class="btn my-2 my-sm-0 nav_search-btn"
                      type="submit"
                    >
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </form> -->
                  <a href="#" @click="logout" class="user_link" v-show="user">
                    <i class="fa-solid fa-right-from-bracket"></i>
                  </a>

                  <a href="Pages/Checkout/index.html" class="order_online">
                    Ordernar Online
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </header>
        <!-- end header section -->
      </div>

      <!-- food section -->

      <section class="food_section layout_padding">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>Nuestro Menu</h2>
          </div>

          <ul class="filters_menu">
            <li class="active" data-filter="*">Todo</li>
            <li data-filter=".burger">Hamburgesas</li>
            <li data-filter=".dogs">Perros</li>
          </ul>

          <div class="filters-content">
            <div class="row grid">
              <div
                class="col-sm-6 col-lg-4 all burger"
                v-for="(c, index) in products[1].content"
                :key="c.id"
              >
                <div class="box">
                  <div>
                    <div class="img-box">
                      <img :src="c.img" :alt="c.name" />
                    </div>
                    <div class="detail-box">
                      <h5>{{c.name}}</h5>
                      <p>{{c.descriptionSm}}</p>
                      <div class="options">
                        <h6>{{c.price}} COP</h6>

                        <a
                          @click="addProduct(c, 1)"
                          data-mdb-toggle="tooltip"
                          title="Agregar al carrito"
                          data-toggle="modal"
                          data-target="#modal_aside_right"
                          data-mdb-toggle="tooltip"
                        >
                          <svg
                            version="1.1"
                            id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 456.029 456.029"
                            style="enable-background: new 0 0 456.029 456.029"
                            xml:space="preserve"
                          >
                            <g>
                              <g>
                                <path
                                  d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                                />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path
                                  d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z"
                                />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path
                                  d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                                />
                              </g>
                            </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-sm-6 col-lg-4 all dogs"
                v-for="(h, index) in products[0].content"
                :key="h.id"
              >
                <div class="box">
                  <div>
                    <div class="img-box">
                      <img :src="h.img" class="card-img-top" :alt="h.name" />
                    </div>
                    <div class="detail-box">
                      <h5>{{h.name}}</h5>
                      <p>{{h.descriptionSm}}</p>
                      <div class="options">
                        <h6>{{h.price}} COP</h6>

                        <a
                          @click="addProduct(h, 0)"
                          data-mdb-toggle="tooltip"
                          title="Agregar al carrito"
                          data-toggle="modal"
                          data-target="#modal_aside_right"
                          data-mdb-toggle="tooltip"
                        >
                          <svg
                            version="1.1"
                            id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 456.029 456.029"
                            style="enable-background: new 0 0 456.029 456.029"
                            xml:space="preserve"
                          >
                            <g>
                              <g>
                                <path
                                  d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"
                                />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path
                                  d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z"
                                />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path
                                  d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"
                                />
                              </g>
                            </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-box">
            <a href=""> Ver mas </a>
          </div>
        </div>
      </section>

      <!-- end food section -->

      <!-- footer section -->
      <footer class="footer_section">
        <div class="container">
          <div class="row">
            <div class="col-md-4 footer-col">
              <div class="footer_contact">
                <h4>Contact Us</h4>
                <div class="contact_link_box">
                  <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span> Location </span>
                  </a>
                  <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span> Call +01 1234567890 </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span> demo@gmail.com </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4 footer-col">
              <div class="footer_detail">
                <a href="" class="footer-logo"> MixFood </a>
                <p>
                  Necessary, making this the first true generator on the
                  Internet. It uses a dictionary of over 200 Latin words,
                  combined with
                </p>
                <div class="footer_social">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4 footer-col">
              <h4>Opening Hours</h4>
              <p>Everyday</p>
              <p>10.00 Am -10.00 Pm</p>
            </div>
          </div>
          <div class="footer-info">
            <p>
              &copy; <span id="displayYear"></span> All Rights Reserved By
              <a href="#">MixFood</a><br /><br />
              &copy; <span id="displayYear"></span> Distributed By
              <a href="../../index.html" target="_blank">MixFood</a>
            </p>
          </div>
        </div>
      </footer>
      <!-- footer section -->
    </div>

    <!-- jQery -->
    <script src="../../Utils/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap js -->
    <script src="../../Utils/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="../../Utils/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->
    <script src="main.js"></script>
    <!-- Vuejs main code -->
  </body>
</html>
